.catalog {
  width: 100%;
  min-height: calc(100vh - 68px);
  padding: 84px 0 124px;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 276px);
  column-gap: 32px;
  row-gap: 48px;
}

.loadMore {
  display: block;
  margin: 80px auto 0;
  padding: 0;
  color: #00aad4;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: underline;
  transition: color 250ms ease;
}

.loadMore:hover,
.loadMore:focus {
  color: #0095ba;
}

.loadMore:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.message {
  margin-top: 84px;
  text-align: center;
}